{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'about_us.css' %}">
<link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
<body>
  <div id="about-us-content">
    <div id="about-us-article">
    <div id="article-1"><img src="https://www.countryfinancial.com/content/dam/cfin/pageIcons/insurance/CF_Assets_Landing_Commercial_NewBusiness_PageIcon.png" height="200" width="300"><p>We started Up in 1954 as a local supplier of food grains, by selling spices and pulses, which were grinded, and processed at our homes. As the time moved on, we were able to place faith within our customers, to provide them good quality of products.
    </p></div>
    <div id="article-2"><p>
       This encouraged us to purchase a new grocery store which could handle more demands from our customers, to provide them wider variety of products, at reasonable price. This turned out to be well, and in the mean time, we expanded further and renowned as one of the city's best retailer.</p>
       <img src="https://www.countryfinancial.com/content/dam/cfin/pageIcons/insurance/CF_Assets_Landing_Commercial_BusinessExpansion_pageIcon.png" height="200px" width="350px">
     </div>
     <div id="article-3"><p>We are entitled to serve best quality products at practical prices. It has been a long journey for us to maintain the brand value. We take orders in bulk for anniversaries, celebrations for the spices and pulses. </p>
     </div>
     <div id="article-4"><h4>Our Goals</h4><img><p>Our goal is to provide full satisfaction to our customers, and ensure that they find absoluter necessity to cling to us for the products. We also need to cover more and more areas to sell our products. We want to be the best provider for household grocery items all over the country.</p></div>
  </div>
</body>
{% endblock %}
