{%load staticfiles %}
<!DOCTYPE html>
<html>
<title>{% block title_block %}{% endblock %}</title>
<head>
  {% block head %}
  {% endblock %}
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width", initial-scale="1.0">
</head>
<style>
#shopping_cart_button{
  background: url('{% static 'website_images/shopping_cart_icon.png' %}');
}
</style>
<div class="navbar">
<a id="logo" href="{% url 'products:home' %}">ShriBariStores</a>
</div>
<div id="menubar" class="menubar-items">
  <li id="expand-menu" class="hide-items"><button class="menu_expand" id="expand_menu_button" style="background:url('{% static 'expand_icon.png' %}'); height: 20px; width: 20px; border:none;"></button></li>
  {% if user.is_authenticated %}
  <li id="logged_in_user_name" class="logged_in_user_name"><button id="hello">Hello, {{ user.username }}&nbsp;&nbsp;<img src="{% static 'website_images/down_arrow_icon.png' %}" style="position: relative; top: 1.5px;"height="10px" width="10px"></button>
  <div id="user_options" class="user_options">
  <ul id="users_options_list"><li id="logout" class="submenu_link"><a id="logout_link-1" href="{% url 'products:logout_user' %}">Logout</a></li>
  <li id="all_orders" class="submenu_link"><a id="all_orders_link-1" href="{% url 'products:view_user_orders' %}">My Orders</a></li>
  <li id="account_settings" class="submenu_link"><a id="account_settings" href="{% url 'products:user_info' user.id %}">Account Settings</a></li></ul></div></li>
  <div id="slide_down_menu"><li id="shopping_cart"><button id="shopping_cart_button" onclick="location.href='{% url 'products:cart' %}'"></button></li>
  {% else %}
  <div id="slide_down_menu"><li id="login"><a class="menu_link" id="login_link" href="{% url 'products:login_user' %}">Login</a></li>
  <li id="register"><a class="menu_link" id="register_link" href="{% url 'products:register_user' %}">Signup</a></li>
  {% endif %}
  <li id="home"><a id="home-link" class="menu_link" href="{% url 'products:home' %}">Home</a></li>
<li id="Products"><a id="products_link" class="menu_link" href="{% url 'products:products_list' p_n=1 %}">Products</a></li></div>
<!-- <li id="search-products"><div id="search-product-input"><form method="get" action="{% url 'products:search_products' %}"><input type="text" name="search_keyword" placeholder="Search for products..."><button type="submit" name="search_product" value="search">Search</button></form></div></li> -->
</div>
{% block content %}
{% endblock %}
<div id="footer">
  <div id="about_us_section"><ul><li id="about_us"><a id="about_us_link" href="{% url 'products:about_us_page' %}">About Us</a></li>
    <li id="sitemap"><a id="about_us_link" href="#">Sitemap</a></li></ul>
  </div>
  <div id="contact_information">
    <ul id="contact_information_list"><span><strong>Contact</strong></span>
    <li><div id="address">Lal Bazaar, Dholpur, Rajasthan 328001</div></li>
    <li><div id="telecom_number">05642-222203</div></li>
    <li><div id="phone_number">+91-7357315687</div>
    <!-- <li><div id="email_id"></div>anurag.gargishan@gmail.com</li> -->
  </ul>
  </div>
</div>
<script>
  $("#logged_in_user_name").hover(function(){$("#user_options").slideDown("fast")}, function(){$("#user_options").slideUp("fast");});
  var menubar_items = $(".menubar-items li");
  if($(window).width()<494){
    $("#expand_menu_button").attr('class', '');
    $("#slide_down_menu").css({'display': 'none'});
    $("#slide_down_menu").attr('class', 'slide_down_menu');
    $("#home").css({'display':'block', 'text-align': 'unset', 'padding':'10px'});
    $("#Products").css({'display':'block', 'text-align': 'unset', 'padding':'10px'});
    $("#shopping_cart").css({'float':'none', 'display':'block', 'text-align': 'unset', 'padding':'10px'});
    $("#login").css({'display':'block', 'text-align': 'unset', 'float': 'none', 'padding':'10px'});
    $("#register").css({'display':'block', 'text-align': 'unset', 'float':'none', 'padding':'10px'});

    $("#hello").click(function(){
    if($("#user_options").css('display')!="block"){
      $("#user_options").css({'display':'block'});
    }
    else{
      $("#user_options").css({'display':'none'});
    }
    });
  }
  $(window).resize(function(){
    if($(window).width()<494){
    $("#slide_down_menu").css({'display': 'none'});
    $("#slide_down_menu").attr('class', 'slide_down_menu');
    $("#home").css({'display':'block', 'text-align': 'unset', 'padding':'10px'});
    $("#Products").css({'display':'block', 'text-align': 'unset', 'padding':'10px'});
    $("#shopping_cart").css({'float':'none', 'display':'block', 'text-align': 'unset', 'padding':'10px'});
    $("#login").css({'display':'block', 'text-align': 'unset', 'float': 'none', 'padding':'10px'});
    $("#register").css({'display':'block', 'text-align': 'unset', 'float':'none', 'padding':'10px'});
    $("#expand_menu_button").attr('class', '');

    $("#logged_in_user_name").unbind('mouseenter mouseleave');
    $("#logged_in_user_name button").click(function(){$("#user_options").slideToggle("fast");});
  }
      else if($(window).width()>494){
      $("#slide_down_menu").css('display', 'block');
      $("#expand_menu_button").attr('class', 'menu_expand');
      $("#Products").css({'display':'inline-block', 'text-align': 'center',  'padding': 'unset'});
      $("#home").css({'display':'inline-block', 'text-align': 'center',  'padding': 'unset'});
      $("#shopping_cart").css({'display':'inline-block', 'text-align': 'center',  'padding': 'unset'});
      $("#login").css({'display':'inline', 'padding':'unset', 'text-align':'center', 'float':'right'});
      $("#register").css({'display':'inline', 'padding':'unset', 'text-align':'center', 'float':'right'});
      $("#shopping_cart").css({'display': 'inline', 'padding':'unset', 'float':'right'});
      }
});
  $("#expand_menu_button").click(function(){$(".slide_down_menu").slideToggle("fast");});
</script>
</html>
